.pictures_reserv {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.form {
  display: flex;
  height: 280px;
  align-items: center;
  position: relative;
  margin: 50px 150px;
  padding: 10px;
  margin-top: -50px;
  background-color: var(--colors-primary);
  box-shadow: 0px 2px 5px grey;
}

.client-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  transform: translateY(-330px);
  margin: 50px 150px;
  padding: 10px;
  font-family: var(--font-family-primary);
  transition: all 1s ;
}

.client-form.active {
  transform: translate(-150%, -330px);
}

.reserve-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  transform: translate(150%, -610px);
  margin: 50px 150px;
  padding: 10px;
  margin-top: -50px;
  font-family: var(--font-family-primary);
  transition: all 1s ;
}

.reserve-form.active {
  transform: translate(0, -610px);
}

.date-container,
.reservation,
.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-container-large {
  width: 201%;
}

.input-container select {
  width: 50%;
  background-color: var(--colors-primary);
  border: 2px var(--color-tertiary) solid;
  margin: 5px 0;
  padding: 10px;
}

input {
  margin: 5px 0;
  padding: 10px;
  background-color: var(--colors-primary);
  border: 2px var(--color-tertiary) solid;
  width: calc(50% - 5px);
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

button {
  background-color: var(--color-tertiary);
  border: 1px var(--color-tertiary) solid;
  color: var(--color-font-secondary);
  font-family: var(--font-family-primary);
  font-size: 1.4vw;
  padding: 10px;
  margin: 5px;
}

form p {
  font-family: var(--font-family-primary);
  font-size: 1.4vw;
  padding: 1vh;
}


@media (max-width: 900px) {
  .pictures_contact {
    width: 100%;
    height: 257px;
    object-fit: cover;
  }
  .form {
    height: 280px;
    align-items: center;
    position: relative;
    margin: 50px 20px;
    margin-top: -50px;
  }

  .client-form {
    margin: 30px;
    padding: 10px;
    margin-top: -50px;
  }
  .reserve-form {
    margin: 30px;
    padding: 10px;
    margin-top: -50px;
  }
  button {
    font-size: 3vw;
    padding: 10px;
  }
}
